html{
	font-family: 'Ubuntu', sans-serif;
}
body{
	background: url("bg.jpg");

}
header {
	background: #ED1A23;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 1080px;
	margin: 1.5%;
	
}
.fonthome {
	font-size: 30px;
	color: white;
	position: relative;
	margin: 0 auto;
	
	
	
}
header ul {
	position: relative;
	display: flex;

}

.pesqui {
	position: relative;
	width: 300px;
	margin: 0 auto;
	display: flex;
	
	

	
}
.pesqui input{
	display: inline-block;
	
}
.fas .fa-search .fa-2x{
	text-align: justify;
}
.fontbutton{
	font-size: 15px;
	height: 39px;
	
}
	


nav {
	position: absolute;
	top: 80px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 15px 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.produtos {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
	
}
.font{
	color: #FFFFFF;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 21%;
	vertical-align: top;
	margin: 1.5% 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	color: #FFFFFF;
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	color: #FFFFFF;
	font-size: 18px;
}



footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 50px 0;
	
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	background: url("bg.jpg");
	
	margin: 0 auto;
	
}


.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}



