html {
	font-family: 'Ubuntu', sans-serif;
}

body {
	background: url('../images/bg.jpg');
}

header {
	background: #ed1a23;
	padding: 1px 0;
}

.caixa {
	position: relative;
	margin: 1.5%;
}

.fonthome {
	font-size: 30px;
	color: white;
	position: relative;
	margin: 0 auto;
}

header ul {
	position: relative;
	display: flex;
}

.pesqui {
	position: relative;
	width: 300px;
	margin: 0 auto;
	display: flex;
}

.pesqui input {
	display: inline-block;
	border-style: none;
	outline: none;
	border-radius: 6px;
}

.fas .fa-search .fa-2x {
	text-align: justify;
}

.fontbutton {
	font-size: 15px;
	background-color: #fff;
	border-style: none;
	height: 35px;
	border-radius: 6px;
	margin-left: -8px;
}

nav {
	position: absolute;
	top: 80px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 15px 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #c78c19;
	text-decoration: underline;
}

.todosPersonagens {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.pesquisaPersonagens {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.font {
	color: #ffffff;
}

.listaPersonagens li {
	display: flex;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 1.5% 1.5%;
	padding: 20px 20px;
	box-sizing: border-box;
	border: 2px solid #ffffff;
	border-radius: 10px;
	width: 18%;
}

.listaPersonagens h2 {
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	margin: 50px auto 0 auto;
}

.loadingSvg {
	margin: 0 0 0 45%;
}

.detalhesPersonagem {
	display: block;
	overflow: scroll;
	position: fixed;
	top: 0px;
	text-align: center;
	background-color: gainsboro;
	width: 80vw;
	height: 80vh;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	padding: 20px;
	justify-content: center;
	flex-direction: column;
	color: white;
	font-size: 25px;
	border: 2px solid;
	border-radius: 10px;
	background-image: url(/images/bg.jpg);
}

.detalhes div {
	display: block;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: fit-content;
	margin: 1.5% 1.5%;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 10px;
	padding: 0 40px 0 40px;
}

.detalhesPersonagem img {
	display: block;
	margin: auto;
}

.detalhesPersonagem h1 {
	font-size: larger;
	font-weight: bold;
	display: inline-block;
}

.detalhesPersonagem h2 {
	font-weight: bold;
	padding: 20px 0 20px;
}

.detalhesPersonagem button {
	width: fit-content;
	height: 30px;
	right: 1%;
}

.detalhesPersonagem button i {
	font-size: 20px;
}

.background {
	display: flex;
	flex-direction: column;
}

.detalhes {
	display: flex;
}

.detalhes div li {
	list-style-type: disc;
}

.detalhes div {
	margin: 20px 20px 0 20px;
}

.produtospesquisa {
	width: 100%;
	margin: 0 auto;
	padding: 50px 0px 0px 0px;
}

.produtospesquisa li {
	display: inline-block;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 200px;
	vertical-align: top;
	margin: 1.5% 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #ffffff;
	border-radius: 10px;
}

.produtospesquisa li:hover {
	border-color: #c78c19;
}

.produtospesquisa li:active {
	border-color: #088c19;
}

.produtospesquisa h2 {
	color: #ffffff;
	font-size: 30px;
	font-weight: bold;
	margin: 40px auto 0 auto;
}

.produto-descricao {
	color: #ffffff;
	font-size: 18px;
}

.titulo {
	text-align: center;
	margin: 20px 0 20px 0;
}

footer {
	text-align: center;
	padding: 50px 0;
}

.copyright {
	color: #ffffff;
	font-size: 13px;
	margin: 20px 0 0;
}

main {
	display: flex;
	background: url('../images/bg.jpg');
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

@media (max-width: 600px) {
	.caixa .principal {
		width: auto;
	}

	h1 {
		text-align: center;
	}

	nav {
		position: static;
	}
	nav li {
		display: flex;
	}

	.produtospesquisa li {
		display: block;
	}

	.detalhes {
		display: block;
	}
}
